<%- include('snippets/header.ejs') %>

<form action="<%=changePasswordForm%>" method="POST" class="login100-form validate-form" id="changePasswordForm">
	<span class="login100-form-title p-b-34">
		<%=title%>
	</span>
	<div id="message" style="width: 100%"></div>
	<div class="wrap-input100 validate-input m-b-20" data-validate="Type Password">
		<input class="input100" type="password" name="password" placeholder="Password">
		<span class="focus-input100"></span>
	</div>
	<div class="wrap-input100 validate-input m-b-20" data-validate="Type Confirm Password">
		<input class="input100" type="password" name="confirm_password" placeholder="Confirm Password">
		<span class="focus-input100"></span>
	</div>
	
	<div class="container-login100-form-btn p-b-110">
		<button class="login100-form-btn">
			Submit
		</button>
	</div>

</form>

<%- include('snippets/script.ejs') %>
<script type="text/javascript" src="/js/auth/changePassword.js"></script>
<%- include('snippets/footer.ejs') %>