<%- include('snippets/header.ejs') %>

<form action="<%=forgotPasswordForm%>" method="POST" class="login100-form validate-form" id="forgotPasswordForm">
	<span class="login100-form-title p-b-34">
		<%=title%>
	</span>
	<div id="message" style="width: 100%"></div>	
	<div class="wrap-input100 validate-input m-b-20" data-validate="Type Email Address">
		<input class="input100" type="text" name="email" placeholder="Email Address">
		<span class="focus-input100"></span>
	</div>

	<div class="container-login100-form-btn p-b-110">
		<button class="login100-form-btn">
			Submit
		</button>
	</div>
	
	<div class="w-full text-center">
		<a href="<%=loginPage%>" class="txt4">
			Back To Login
		</a>
	</div>
</form>

<%- include('snippets/script.ejs') %>
<script type="text/javascript" src="/js/auth/forgotPassword.js"></script>
<%- include('snippets/footer.ejs') %>