<%- include('snippets/header.ejs') %>

<form action="<%=registrationForm%>" method="POST" class="login100-form validate-form" id="registrationForm">
	<span class="login100-form-title p-b-34">
		<%=title%>
	</span>
	<div id="message" style="width: 100%"></div>
	<div class="wrap-input100 validate-input m-b-20" data-validate="Type Name">
		<input id="name" class="input100" type="text" name="name" placeholder="Name" autocomplete="off">
		<span class="focus-input100"></span>
	</div>
	<div class="wrap-input100 validate-input m-b-20" data-validate="Type Mobile Number">
		<input class="input100" type="text" name="number" value="+8801" autocomplete="off">
		<span class="focus-input100"></span>
	</div>
	<div class="wrap-input100 validate-input m-b-20" data-validate="Type Email Address">
		<input class="input100" type="text" name="email" placeholder="Email Address" autocomplete="off">
		<span class="focus-input100"></span>
	</div>
	<div class="wrap-input100 validate-input m-b-20" data-validate="Type Password">
		<input class="input100" type="password" name="password" placeholder="Password" autocomplete="off">
		<span class="focus-input100"></span>
	</div>
	<div class="wrap-input100 validate-input m-b-20" data-validate="Type Confirm Password">
		<input class="input100" type="password" name="confirm_password" placeholder="Confirm Password" autocomplete="off">
		<span class="focus-input100"></span>
	</div>
	
	<div class="container-login100-form-btn p-b-110">
		<button class="login100-form-btn" id="buttonload">
			Create Account
		</button>
	</div>

	<div class="w-full text-center">
		<a href="<%=loginPage%>" class="txt4">
			Back To Login
		</a>
	</div>
</form>

<%- include('snippets/script.ejs') %>
<script type="text/javascript" src="/js/auth/registration.js"></script>
<%- include('snippets/footer.ejs') %>