<%- include('base/base_header.ejs') %>
<div class="outer-w3-agile mt-3">
    <h4 class="tittle-w3-agileits mb-4">
        <%=title%>
    </h4>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="appDetails-tab" data-toggle="tab" href="#appDetails" role="tab" aria-controls="appDetails" aria-selected="false">App URLs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="messageContent-tab" data-toggle="tab" href="#messageContent" role="tab" aria-controls="messageContent" aria-selected="false">Message Content</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="appDetails" role="tabpanel" aria-labelledby="appDetails-tab" style="padding: 25px;">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Message Receiving URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="<%=sms%>" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ussd Connection URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="<%=ussd%>" readonly>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="messageContent" role="tabpanel" aria-labelledby="messageContent-tab" style="padding: 25px;">
            <div id="content-message"></div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="appDetailsTable" style="width:100%;">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Message</th>
                            <th scope="col">Status</th>
                            <th scope="col">Edit Message</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include('base/base_footer.ejs') %>
<script type="text/javascript" src="/dashboard/DataTables/datatables.min.js"></script>
<script type="text/javascript">
var timeOut, appList;
$(document).ready(function() {
    appList = $('#appDetailsTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ordering": false,
        "searching": false,
        "ajax": {
            url: "<%=appDetailUrl%>",
            headers: {
                'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            },
            type: "POST"
        },
        "lengthMenu": [
            [10, 25, 50, 75, 100, 200],
            [10, 25, 50, 75, 100, 200]
        ],
    })
})

function updateAppMessage(date, time, appName) {
    if (date && time && appName) {
        $("#update-app-message-content").fadeOut(0);
        $("#content-message").fadeOut(0);
        $.ajax({
            url: "<%=updateContentUrl%>",
            type: "GET",
            headers: {
                'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            },
            data: {
                date: date,
                time: time,
                appName: appName
            },
            dataType: "json",
            success: function(res) {
                if (res.success === true) {
                    $("#updateAppMessageContent").val(res.message)
                    $("#updateAppMessageBtn").unbind("click").bind("click", function(e) {
                        $.ajax({
                            url: "<%=updateContentUrl%>",
                            type: "POST",
                            headers: {
                                'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                            },
                            data: {
                                date: date,
                                time: time,
                                appName: appName,
                                message: $("#updateAppMessageContent").val()
                            },
                            dataType: "json",
                            success: function(res) {
                                if (res.success) {
                                    $("#content-message").html('<div class="alert alert-success alert-dismissible" role="alert">' +
                                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + res.message + "</div>").fadeIn(1000)
                                    clearMessage("content-message")
                                    appList.ajax.reload(null, false)
                                    $('#updateAppMessage').modal('hide')
                                } else {
                                    $("#update-app-message-content").html('<div class="alert alert-warning alert-dismissible" role="alert">' +
                                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + res.message + "</div>").fadeIn(1000)
                                    clearMessage("update-app-message-content")
                                }
                            }
                        })
                    })
                } else {
                    $("#update-app-message-content").html('<div class="alert alert-warning alert-dismissible" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                        res.message +
                        "</div>").fadeIn(1000);

                    clearMessage("update-app-message-content")
                }
            }
        })
    }
}

function clearMessage(idName) {
    clearTimeout(timeOut)
    timeOut = setTimeout(function() {
        $("#" + idName).fadeOut(1000)
    }, 5000)
}
</script>
<%- include('base/close_footer.ejs') %>