<%- include('base/base_header.ejs') %>
<section class="tables-section">
    <div class="outer-w3-agile mt-3">
        <h4 class="tittle-w3-agileits mb-4">
            <%=title%>
        </h4>
        <%if(flashMessage){%>
        <div id="flashMessage">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%=flashMessage%>
            </div>
        </div>
        <%}%>
        <div id="app-list-message"></div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" id="appList" style="width:100%;">
                <thead>
                    <tr>
                        <th scope="col">App Name</th>
                        <th scope="col">APP ID</th>
                        <th scope="col">Subscribe</th>
                        <th scope="col">Dial</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">App Active</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<%- include('base/base_footer.ejs') %>
<script type="text/javascript" src="/dashboard/DataTables/datatables.min.js"></script>
<script type="text/javascript">
var timeOut, appList;

$(document).ready(function() {
    $("app-list-message").fadeOut(0)
    appList = $('#appList').DataTable({
        "processing": true,
        "serverSide": true,
        "order": [],
        "ajax": {
            url: "<%=appListUrl%>",
            headers: {
                'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            },
            type: "POST"
        },
        "columnDefs": [{
            "targets": [6],
            "orderable": false
        }],
        "lengthMenu": [
            [5, 10, 25, 50, 75, 100, 200],
            [5, 10, 25, 50, 75, 100, 200]
        ],
    })

    setTimeout(function() {
        $("#flashMessage").fadeOut(1000)
    }, 5000)
})

function appInfoUpdate(AppName) {
    if (AppName) {
        $("#updateAppInfoBtn").unbind("click").bind("click", function() {
            $("#update-app-info-message").fadeOut(0);
            $.ajax({
                url: "<%=appInfoUpdateUrl%>",
                type: "POST",
                headers: {
                    'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                data: {
                    'appId': $("#updateAppInfoId").val(),
                    'password': $("#updateAppInfoPassword").val(),
                    'appName': AppName,
                },
                dataType: "json",
                success: function(res) {
                    if (res.success === true) {
                        $("#app-list-message").html('<div class="alert alert-success alert-dismissible" role="alert">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + res.message + '</div>').fadeIn(1000)
                        $('#updateAppInfo').modal('hide')
                        appList.ajax.reload(null, false);
                        clearMessage('app-list-message')
                    } else {
                        $("#update-app-info-message").html('<div class="alert alert-warning alert-dismissible" role="alert">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + res.message + '</div>').fadeIn(1000)
                    }

                    clearMessage('update-app-info-message')
                }
            })
        })
    }
}

function appStatusChange(AppName) {
    if (AppName) {
        $("#app-status-change-message").fadeOut(0);
        $.ajax({
            url: "<%=appStatusChangeUrl%>",
            type: "GET",
            headers: {
                'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            },
            data: {
                'appName': AppName,
            },
            dataType: "json",
            success: function(res) {
                if (res.success === true) {
                    document.getElementById("appStatusChangeModalLabel").innerHTML = res.appActive ? "App Deactivation" : "App Activation"
                    document.getElementById("appStatusChangeModalBody").innerHTML = "Do you want to really " + (res.appActive ? "deactivate" : "activate") + " your app?"
                    document.getElementById("appStatusChangeButton").innerHTML = res.appActive ? "Turn off" : "Turn on"

                    $("#appStatusChangeButton").unbind('click').bind('click', function() {
                        $.ajax({
                            url: "<%=appStatusChangeUrl%>",
                            type: "POST",
                            headers: {
                                'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                            },
                            data: {
                                'appName': AppName,
                            },
                            dataType: "json",
                            success: function(res) {
                                if (res.success === true) {
                                    $("#app-list-message").html('<div class="alert alert-success alert-dismissible" role="alert">' +
                                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + res.message + '</div>').fadeIn(1000)
                                    $('#appStatusChange').modal('hide')
                                    appList.ajax.reload(null, false)
                                    clearMessage('app-list-message')
                                } else {
                                    $("#app-status-change-message").html('<div class="alert alert-warning alert-dismissible" role="alert">' +
                                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + res.message + '</div>').fadeIn(1000)
                                }
                            }
                        })
                    })
                } else {
                    $("#app-status-change-message").html('<div class="alert alert-warning alert-dismissible" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + res.message + '</div>').fadeIn(1000)
                }

                clearMessage('app-status-change-message')
            }
        })
    }
}

function clearMessage(idName) {
    clearTimeout(timeOut)
    timeOut = setTimeout(function() {
        $("#" + idName).fadeOut(1000)
    }, 5000)
}
</script>
<%- include('base/close_footer.ejs') %>