<%- include('base/base_header.ejs') %>
<div class="outer-w3-agile col-xl mt-3">
    <h4 class="tittle-w3-agileits mb-4">
        <%=title%>
    </h4>
    <form action="<%=applicationGeneratorForm%>" method="post" id="applicationGeneratorForm">
        <div id="message"></div>
        <div class="form-group row">
            <label for="appName" class="col-sm-2 col-form-label">App Name</label>
            <div class="col-sm-10">
                <select class="form-control" name="appName">
                    <option value="">Select App Name</option>
                    <% appList.forEach((item) => { %>
                    <option value="<%=item.app_name%>">
                        <%=item.app_name%>
                    </option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="smsKeyword" class="col-sm-2 col-form-label">SMS Keyword</label>
            <div class="col-sm-10">
                <input type="text" name="smsKeyword" class="form-control" id="smsKeyword" placeholder="SMS Keyword">
            </div>
        </div>
        <div class="form-group row">
            <label for="ussdcode" class="col-sm-2 col-form-label">USSD Code</label>
            <div class="col-sm-10">
                <input type="text" name="ussdcode" class="form-control" id="ussdcode" placeholder="USSD Code">
            </div>
        </div>
        <div class="form-group row">
            <label for="perDaySms" class="col-sm-2 col-form-label">SMS Offer Per Day</label>
            <div class="col-sm-10">
                <input type="text" name="perDaySms" class="form-control" id="perDaySms" placeholder="SMS Offer Per Day">
            </div>
        </div>
        <div class="form-group row">
            <label for="longDescription" class="col-sm-2 col-form-label">Long Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="longDescription" name="longDescription" rows="3" placeholder="Long Description...."></textarea>
                <p class="font-weight-light text-primary">Tips: &lt;Service Name&gt; is a &lt;Service type&gt; that offers &lt;function of the service&gt;. The service offers &lt;Details of the service. As details as possibel&gt;</p>
            </div>
        </div>
        <div class="form-group row">
            <label for="shortDescription" class="col-sm-2 col-form-label">Short Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="shortDescription" name="shortDescription" rows="3" placeholder="Short Description...."></textarea>
                <p class="font-weight-light text-primary">Tips: This is a subscription based &lt;Please mention the type&gt; service.</p>
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-success">Generate</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </form>
</div>
<%- include('base/base_footer.ejs') %>
<script type="text/javascript" src="/js/user/applicationGenerator.js"></script>
<%- include('base/close_footer.ejs') %>