<%- include('base/base_header.ejs') %>
<h4 class="tittle-w3-agileits mb-4">
    <%=title%>
</h4>
<button class="btn btn-primary" id="addCardBtn"><i class="fas fa-plus-circle"></i> Add Box</button>
<div class="outer-w3-agile col-xl mt-3">
    <div id="error-message"></div>
    <form action="<%=uploadContentForm%>" method="post" id="uploadContentForm">
        <div class="accordion" id="contentUploadFormBlock">
            <div class="card" id="card-1">
                <div class="card-header" id="heading-1">
                    <h2 class="mb-0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-10">
                                    <button class="btn btn-link" style="color: black; text-decoration: none; width: 100%" type="button" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                        <span class="d-block float-left" id="head-text-1">1. </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </h2>
                </div>
                <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#contentUploadFormBlock">
                    <div class="card-body">
                        <div id="formField">
                            <div id="message-1"></div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="messageDate">Date &amp; Time</label>
                                    <input type="text" class="form-control dateTimepicker" id="dateTime-1" name="dateTime" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-12">
                                    <label for="messageContent">Message</label>
                                    <textarea class="form-control" name="messageContent" rows="3"></textarea>
                                </div>
                            </div>
                            <input type="hidden" name="position" value="1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center; margin-top: 30px">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
<%- include('base/base_footer.ejs') %>
<script src="/dashboard/js/bootstrap-datetimepicker.js"></script>
<script src="/js/user/uploadContent.js"></script>
<script type="text/javascript">
calanderInit()
inputDetect(1)
$('#addCardBtn').unbind("click").bind("click", function(e) {
    var count
    try {
        count = parseInt($(".card").last()[0].id.slice(5)) + 1;
    } catch {
        count = 1;
    }
    var content = '<div class="card" id="card-' + count + '">' +
        '<div class="card-header" id="heading-' + count + '">' +
        '<h2 class="mb-0">' +
        '<div class="container-fluid">' +
        '<div class="row">' +
        '<div class="col-10">' +
        '<button class="btn btn-link" style="color: black; text-decoration: none; width: 100%" type="button" data-toggle="collapse" data-target="#collapse-' + count + '" aria-expanded="true" aria-controls="collapse-' + count + '">' +
        '<span class="d-block float-left" id="head-text-' + count + '">' + count + '. </span>' +
        '</button>' +
        '</div>' +
        '<div class="col-2">' +
        '<button class="btn btn-danger float-right" onclick="deleteCard(' + count + ')"><i class="fas fa-trash-alt"></i></button>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</h2>' +
        '</div>' +
        '<div id="collapse-' + count + '" class="collapse" aria-labelledby="heading-' + count + '" data-parent="#contentUploadFormBlock">' +
        '<div class="card-body">' +
        '<div id="formField">' +
        '<div id="message-' + count + '"></div>' +
        '<div class="form-row">' +

        '<div class="form-group col-md-12">' +
        '<label for="messageDate">Date &amp; Time</label>' +
        '<input type="text" class="form-control dateTimepicker" name="dateTime" id="dateTime-' + count + '" readonly>' +
        '</div>' +

        '</div>' +
        '<div class="form-group row">' +
        '<div class="form-group col-md-12">' +
        '<label for="messageContent">Message</label>' +
        '<textarea class="form-control" name="messageContent" rows="3"></textarea>' +
        '</div>' +
        '</div>' +
        '<input type="hidden" name="position" value="' + count + '">' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>'
    $('#contentUploadFormBlock').append(content)

    inputDetect(count)
    calanderInit()

    count++;
})

function calanderInit() {
    $(".dateTimepicker").datetimepicker({
        autoclose: true,
        minuteStep: 60,
        showMeridian: true,
        fontAwesome: true,
        format: 'yyyy-mm-dd HH:ii p'
    });


}

function deleteCard(id) {
    if (id) {
        $("#card-" + id).remove()
    }
}

function inputDetect(count) {
    $('#dateTime-' + count).on('change', function(e) {
        $("#head-text-" + count).text('')
        $("#head-text-" + count).append(count + '. Date - ' + e.target.value)
    });
}
</script>
<%- include('base/close_footer.ejs') %>