<%- include('base/base_header.ejs') %>
<section class="tables-section">
    <div class="outer-w3-agile mt-3">
        <h4 class="tittle-w3-agileits mb-4">
            <%=title%>
        </h4>
        <div id="message" style="width: 100%"></div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" id="userList" style="width:100%;">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Account Create</th>
                        <th scope="col">Email Active</th>
                        <th scope="col">User Active</th>
                        <th scope="col">Account Expire</th>
                        <th scope="col">Total Pay</th>
                        <th scope="col">Account Delete</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<%- include('base/modal.ejs') %>
<%- include('base/base_footer.ejs') %>
<script type="text/javascript" src="/dashboard/DataTables/datatables.min.js"></script>
<script type="text/javascript">
var timeOut, userList
$("#message").fadeOut(0)

$(document).ready(function() {
    userList = $('#userList').DataTable({
        "processing": true,
        "serverSide": true,
        "order": [],
        "ajax": {
            url: "<%=userList%>",
            headers: {
                'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            },
            type: "POST"
        },
        "columnDefs": [{
            "targets": [0, 1, 2, 3, 4],
            "orderable": false
        }],
        "lengthMenu": [
            [5, 10, 25, 50, 75, 100, -1],
            [5, 10, 25, 50, 75, 100, "All"]
        ],
    })
})

function payment(id) {
    if (id) {
        $("#userMaxApp").val('')
        $("#ammount").val('')
        $.ajax({
            url: "<%=maxAppInstallUrl%>",
            type: "GET",
            data: {
                'id': id,
            },
            dataType: "json",
            success: function(res) {
                $("#paymentError").fadeOut(0)
                if (res.success) {
                    $("#userMaxApp").val(res.maxApp)
                    $("#paymentButton").unbind("click").bind("click", function() {
                        $("#paymentError").fadeOut(0)
                        $.ajax({
                            url: "<%=userPayment%>",
                            type: "POST",
                            headers: {
                                'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                            },
                            data: {
                                'id': id,
                                'userMaxApp': $("#userMaxApp").val(),
                                'ammount': $("#ammount").val(),
                            },
                            dataType: "json",
                            success: function(res) {
                                if (res.success) {
                                    $("#paymentError").html('<div class="alert alert-success alert-dismissible" role="alert">' +
                                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                                        res.message +
                                        '</div>').fadeIn(1000)
                                    userList.ajax.reload(null, false);
                                } else {
                                    $("#paymentError").html('<div class="alert alert-warning alert-dismissible" role="alert">' +
                                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                                        res.message +
                                        '</div>').fadeIn(1000)
                                }

                                clearMessage("paymentError")
                            }
                        })
                    })
                } else {
                    $("#paymentError").html('<div class="alert alert-warning alert-dismissible" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                        res.message + '</div>').fadeIn(1000)
                }

                clearMessage("paymentError")
            }
        })
    }
}

function accountStatusChange(id, accountStatus) {
    var accountStatusChangeText = accountStatus === 'true' ? "Deactive" : "Active"
    document.getElementById("accountStatusChangeModalLabel").innerHTML = "Account " + accountStatusChangeText
    document.getElementById("accountStatusChangeButton").innerHTML = accountStatusChangeText
    document.getElementById("accountStatusChangeModalBody").innerHTML = "Do you want to really " + accountStatusChangeText.toLowerCase() + " this account ?"
    if (id && accountStatus) {
        $("#accountStatusChangeButton").unbind("click").bind("click", function() {
            $.ajax({
                url: "<%=userAccountStatusChange%>",
                type: "POST",
                headers: {
                    'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                data: {
                    'id': id,
                },
                dataType: "json",
                success: function(res) {
                    if (res.success === true) {
                        $("#message").html('<div class="alert alert-success alert-dismissible" role="alert">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                            res.message +
                            '</div>').fadeIn(1000)
                        userList.ajax.reload(null, false);
                    } else {
                        $("#message").html('<div class="alert alert-warning alert-dismissible" role="alert">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                            res.message +
                            '</div>').fadeIn(1000)
                    }

                    $('#accountStatusChange').modal('hide');
                    clearMessage()
                }
            })
        })
    }
}


function accountDelete(id) {
    if (id) {
        $("#accountDeleteButton").unbind("click").bind("click", function() {
            $.ajax({
                url: "<%=userAccountDelete%>",
                type: "POST",
                headers: {
                    'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                data: {
                    'id': id,
                },
                dataType: "json",
                success: function(res) {
                    if (res.success === true) {
                        $("#message").html('<div class="alert alert-success alert-dismissible" role="alert">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                            res.message +
                            '</div>').fadeIn(1000)
                        userList.ajax.reload(null, false)

                    } else {
                        $("#message").html('<div class="alert alert-warning alert-dismissible" role="alert">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                            res.message +
                            '</div>').fadeIn(1000)
                    }

                    $('#accountDelete').modal('hide')
                    clearMessage()
                }
            })
        })
    }
}

function appSetting() {
    $("#appSettingButton").unbind("click").bind("click", function() {
        $("#app-setting-error-message").fadeOut(0)
        $.ajax({
            url: "<%=appSetting%>",
            type: "POST",
            headers: {
                'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            },
            data: {
                'id': $('#appSettingId').val(),
                'maxAppInstall': $("#maxAppInstall").val(),
                'costPerMonth': $("#costPerMonth").val(),
            },
            dataType: "json",
            success: function(res) {
                if (res.success === true) {
                    $("#app-setting-error-message").html('<div class="alert alert-success alert-dismissible" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                        res.message + '</div>').fadeIn(1000)
                } else {
                    $("#app-setting-error-message").html('<div class="alert alert-warning alert-dismissible" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + res.message + '</div>').fadeIn(1000)
                }

                clearMessage("app-setting-error-message")
            }
        })
    })
}

function profileSetting() {
    $("#profileSettingButton").unbind("click").bind("click", function() {
        $("#profile-setting-error-message").fadeOut(0)
        $.ajax({
            url: "<%=profileSetting%>",
            type: "POST",
            headers: {
                'CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            },
            data: {
                'email': $("#adminEmail").val(),
                'password': $("#adminPassword").val(),
                'confirm_password': $("#adminConfirmPassword").val()
            },
            dataType: "json",
            success: function(res) {
                if (res.success === true) {
                    $("#profile-setting-error-message").html('<div class="alert alert-success alert-dismissible" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                        res.message + '</div>').fadeIn(1000)
                    $("#adminPassword").val('')
                    $("#adminConfirmPassword").val('')
                } else {
                    $("#profile-setting-error-message").html('<div class="alert alert-warning alert-dismissible" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + res.message + '</div>').fadeIn(1000)
                }

                clearMessage("profile-setting-error-message")
            }
        })
    })
}

function clearMessage(idName) {
    clearTimeout(timeOut)
    timeOut = setTimeout(function() {
        $("#" + idName).fadeOut(1000)
    }, 5000)
}
</script>
<%- include('base/close_footer.ejs') %>