<%- include('base/base_header.ejs') %>
<div class="outer-w3-agile col-xl mt-3">
    <h4 class="tittle-w3-agileits mb-4">
        <%=title%>
    </h4>
    <form action="<%=installAppForm%>" method="post" id="installAppForm">
        <div id="message"></div>
        <div class="form-group row">
            <label for="appName" class="col-sm-2 col-form-label">App Name</label>
            <div class="col-sm-10">
                <input type="text" name="appName" class="form-control" id="appName" placeholder="App Name" autocomplete="off">
            </div>
        </div>
        <div id="sectionHidden">
            <div class="form-group row">
                <label for="smsUrl" class="col-sm-2 col-form-label">Message Receiving URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="smsUrl" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="ussdUrl" class="col-sm-2 col-form-label">Ussd Connection URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ussdUrl" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="appId" class="col-sm-2 col-form-label">App Id</label>
                <div class="col-sm-10">
                    <input type="text" name="appId" class="form-control" id="appId" placeholder="App Id" autocomplete="off">
                </div>
            </div>
            <div class="form-group row">
                <label for="appPassword" class="col-sm-2 col-form-label">App Password</label>
                <div class="col-sm-10">
                    <input type="text" name="appPassword" class="form-control" id="appPassword" placeholder="App Password" autocomplete="off">
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<%- include('base/base_footer.ejs') %>
<script type="text/javascript" src="/js/user/installApp.js"></script>
<%- include('base/close_footer.ejs') %>