<!DOCTYPE html>
<html lang="en">
<%- include('base/header.ejs') %>

<body>
    <%- include('base/loader.ejs') %>
    <%- include('base/menu.ejs') %>
    <div class="fancy-breadcumb-area bg-img bg-overlay" style="background-image: url(/site/img/bg-img/cover.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content text-center">
                        <h2>Committee Members</h2>
                        <!-- Breadcumb -->
                        <nav>
                            <a href="<%=registrationURL%>" class="btn fancy-btn fancy-active">Register</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcumb Area End ***** -->
    <!-- ****** Single Blog Area Start ****** -->
    <section class="single_blog_area section-padding-100">
        <section class="fancy-blog-area section-padding-100-70">
            <div class="container">
                <div class="row">
                    <!-- Single Blog -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                            <img src="/site/img/blog-img/blog-1.jpg" alt="">
                            <div class="blog-content">
                                <h5>Local organizing committee</h5>
                                <ol>
                                    <li>Prof. Dr. Md Abdul Mannan Chowdhury (JU) (Chair)</li>
                                    <li>Prof. Dr. DA Quadir (NPIU)</li>
                                    <li>Prof. Dr. Md. Mahbub Alam (KUET)</li>
                                    <li>Dr. Samarendra Karmakar (BCAS)</li>
                                    <li>Prof. Dr. Md. Abdullah Elias Akhter (KUET) (Member secretary)</li>
                                    <li>Prof. Dr. Md. Abdus Samad (DU)</li>
                                    <li>Prof. Dr. Istiaq M. Syed (DU) (Joint-member secretary)</li>
                                    <li>Dr. MD. Shadekul Alam (BMD)</li>
                                    <li>Dr. Md. Abdul Mannan (BMD)</li>
                                    <li>Dr. Muhammad Abul. Kalam Mallik (BMD)</li>
                                    <li>Mr. Mohammad Ziaul Islam (BPATC)</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-area wow fadeInUp" data-wow-delay="1s">
                            <img src="/site/img/blog-img/blog-2.jpg" alt="">
                            <div class="blog-content">
                                <h5>Technical Committee</h5>
                                <ol>
                                    <li>Prof. Dr. Md. Mahbub Alam (KUET) (Chair)</li>
                                    <li>Dr. Samarendra Karmakar (BCAS)</li>
                                    <li>Prof. Dr. Md. Abdullah Elias Akhter (KUET)</li>
                                    <li>Mr. SM Quamrul Hassan (BMD)</li>
                                    <li>Dr. Muhammad Abul Kalam Mallik (BMD) (Member secretary)</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-area wow fadeInUp" data-wow-delay="1.5s">
                            <img src="/site/img/blog-img/blog-3.jpg" alt="">
                            <div class="blog-content">
                                <h5>Advisory Committee</h5>
                                <ol>
                                    <li>Prof. Dr. Mesbahuddin Ahmed (DU, Bangladesh)</li>
                                    <li>Prof. Dr. ASM Maksud Kamal (DU, Bangladesh)</li>
                                    <li>Prof. U C Mohanty (India)</li>
                                    <li>Prof. Dr. Mohammad Arif Hossain (KUET, Bangladesh)</li>
                                    <li>Prof. Dr. Towhida Rashid (DU, Bangladesh)</li>
                                    <li>Prof. Dr. A. K. M. Saiful Islam (BUET, Bangladesh)</li>
                                    <li>Prof. Dr. ASM Saifullah (MBSTU)</li>
                                    <li>Mr. Shamsuddin Ahmed (BMD, Bangladesh)</li>
                                    <li>Dr. Nadao Kohno (Japan)</li>
                                    <li>Prof. Dr. Md. Nazrul Islam (KSA)</li>
                                    <li>Dr. S. K. Roy Bhowmik (India)</li>
                                    <li>Prof. Dr. Fumin Ren (China)</li>
                                    <li>Dr. Madan Lal Shrestha (Nepal)</li>
                                    <li>Dr. Lei Xiaotu (China)</li>
                                    <li>Prof. Dr. Jong-Dao Ben Jou (Taiwan)</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- ****** Single Blog Area End ****** -->
    <!-- ***** Footer Area Start ***** -->
    <%- include('base/footer.ejs') %>
    <%- include('base/footer-asset.ejs') %>
</body>

</html>