<!DOCTYPE html>
<html lang="en">
<%- include('base/header.ejs') %>

<body>
    <%- include('base/loader.ejs') %>
    <%- include('base/menu.ejs') %>
    <div class="fancy-breadcumb-area bg-img bg-overlay" style="background-image: url(/site/img/bg-img/cover.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content text-center">
                        <h2>Committee Members</h2>
                        <!-- Breadcumb -->
                        <nav>
                            <a href="<%=registrationURL%>" class="btn fancy-btn fancy-active">Register</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcumb Area End ***** -->
    <!-- ****** Single Blog Area Start ****** -->
    <section class="single_blog_area section-padding-100">
        <section class="fancy-blog-area section-padding-100-70">
            <div class="container">
                <div class="row">
                    <!-- Single Blog -->
                    <div class="col-12 col-md-4">
                        <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                            <img src="/site/img/blog-img/blog-1.jpg" alt="">
                            <div class="blog-content">
                                <h5>">Local organizing committee</h5>
                                <p>
                                    Prof. Dr. Md Abdul Mannan Chowdhury (JU) (Chair)<br />
                                    Prof. Dr. DA Quadir (NPIU)<br />
                                    Prof. Dr. Md. Mahbub Alam (KUET)<br />
                                    Dr. Samarendra Karmakar (BCAS)<br />
                                    Prof. Dr. Md. Abdullah Elias Akhter (KUET) (Member secretary)<br />
                                    Prof. Dr. Md. Abdus Samad (DU)<br />
                                    Prof. Dr. Istiaq M. Syed (DU) (Joint-member secretary)<br />
                                    Dr. MD. Shadekul Alam (BMD)<br />
                                    Dr. Md. Abdul Mannan (BMD)<br />
                                    Dr. Muhammad Abul. Kalam Mallik (BMD)<br />
                                    Mr. Mohammad Ziaul Islam (BPATC)<br /></p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog -->
                    <div class="col-12 col-md-4">
                        <div class="single-blog-area wow fadeInUp" data-wow-delay="1s">
                            <img src="/site/img/blog-img/blog-2.jpg" alt="">
                            <div class="blog-content">
                                <h5>Technical Committee</h5>
                                <p>
                                    Prof. Dr. Md. Mahbub Alam (KUET) (Chair)<br />
                                    Dr. Samarendra Karmakar (BCAS) <br />
                                    Prof. Dr. Md. Abdullah Elias Akhter (KUET)<br />
                                    Mr. SM Quamrul Hassan (BMD)<br />
                                    Dr. Muhammad Abul Kalam Mallik (BMD) (Member secretary)<br /></p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog -->
                    <div class="col-12 col-md-4">
                        <div class="single-blog-area wow fadeInUp" data-wow-delay="1.5s">
                            <img src="/site/img/blog-img/blog-3.jpg" alt="">
                            <div class="blog-content">
                                <h5>Advisory Committee</h5>
                                <p>
                                    Prof. Dr. Mesbahuddin Ahmed (DU, Bangladesh)<br />
                                    Prof. Dr. ASM Maksud Kamal (DU, Bangladesh)<br />
                                    Prof. U C Mohanty (India)<br />
                                    Prof. Dr. Mohammad Arif Hossain (KUET, Bangladesh)<br />
                                    Prof. Dr. Towhida Rashid (DU, Bangladesh)<br />
                                    Prof. Dr. A. K. M. Saiful Islam (BUET, Bangladesh)<br />
                                    Prof. Dr. ASM Saifullah (MBSTU)<br />
                                    Mr. Shamsuddin Ahmed (BMD, Bangladesh)<br />
                                    Dr. Nadao Kohno (Japan)<br />
                                    Prof. Dr. Md. Nazrul Islam (KSA)<br />
                                    Dr. S. K. Roy Bhowmik (India)<br />
                                    Prof. Dr. Fumin Ren (China)<br />
                                    Dr. Madan Lal Shrestha (Nepal)<br />
                                    Dr. Lei Xiaotu (China)<br />
                                    Prof. Dr. Jong-Dao Ben Jou (Taiwan)<br /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- ****** Single Blog Area End ****** -->
    <!-- ***** Footer Area Start ***** -->
    <%- include('base/footer.ejs') %>
    <%- include('base/footer-asset.ejs') %>
</body>

</html>