<!DOCTYPE html>
<html lang="en">
<%- include('base/header.ejs') %>

<body>
    <%- include('base/loader.ejs') %>
    <%- include('base/menu.ejs') %>
    <div class="fancy-hero-area bg-img bg-overlay animated-img" style="background-image: url(site/img/bg-img/cover.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="fancy-hero-content text-center">
                        <h2>Welcome to ICCRAM</h2>
                        <h2>International Conference on Contemporary Research and Applications of Meteorology</h2>
                        <a href="<%=registrationURL%>" class="btn fancy-btn fancy-active">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fancy-top-features-area bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="fancy-top-features-content">
                        <div class="row no-gutters text-center">
                            <div class="col-12 col-md-4">
                                <div class="single-top-feature">
                                    <i class="fa fa-clock-o"></i> 
                                    <h5>Registration Deadline</h5>
                                    <p>01 December 2019</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="single-top-feature">
                                    <i class="fa fa-clock-o"></i> 
                                    <h5>Conference Date</h5>
                                    <p>07 December 2019</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="single-top-feature">
                                    <i class="fa fa-clock-o"></i> 
                                    <h5>Submission Deadline</h5>
                                    <p>21 November 2019 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="fancy-about-us-area bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="about-us-text">
                        <h2>Welcome to the International Conference on
                            Contemporary Research and Applications of
                            Meteorology (ICCRAM)</h2>
                        <p>We believe that, scientists
                            need to exchange their ideas and views of scientific
                            works for the development of research. Without
                            exchange interaction among researchers, it is not
                            possible to learn about different scientific thoughts.
                            Conference is one of the big deals which can give the
                            opportunity to the researchers to meet together and
                            share their ideas. The ICCRAM aims to bring together
                            academia, meteorologists, researchers and scholars to
                            exchange information and share experiences and
                            research results about all aspects of specialized and
                            interdisciplinary fields. We, University of Dhaka
                            (DU), Jahangirnagar University (JU), Khulna
                            University of Engineering &amp; Technology (KUET) and
                            Bangladesh Meteorological Department (BMD), are
                            really happy to jointly organize the conference at
                            BMD.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-5 ml-xl-auto">
                    <div class="about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                        <img src="/site/img/bg-img/about-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fancy-skills-area section-padding-150">
        <!-- Side Thumb -->
        <div class="skills-side-thumb">
            <img src="/site/img/bg-img/skills.jpg" alt="">
        </div>
        <!-- Skills Content -->
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-5 ml-auto">
                    <div class="section-heading">
                        <h2>Objectives</h2>
                        <h6>The main objectives of the conference :</h6>
                        <ol class="order-list">
                            <li>To focus on the current status of meteorological
                                and climatological research in home and
                                abroad.</li>
                            <li>To promote the development of Weather
                                Forecasting System of Bangladesh.</li>
                            <li>To Exchange modern scientific knowledge,
                                coordination and cooperation of data sharing
                                among different research groups related to
                                meteorology and climate sciences.</li>
                            <li>At the service of humanity as a whole to
                                produce a better quality of life for present and
                                future generations.</li>
                            <li>Application of NWP Techniques for
                                meteorological research in Bangladesh.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fancy-services-area bg-img bg-overlay section-padding-100-70" style="background-image: url(/site/img/bg-img/hero-2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading heading-white text-center">
                        <h2>Scope</h2>
                        <p>
                            We welcome the participants from the all branches of
                            Meteorology, climate sciences and its related fields.
                            For the presentation of research findings and views,
                            there will be invited talks and contributory
                            papers/posters presentations in different technical
                            sessions.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Service -->
                <div class="col-12 col-md-4">
                    <div class="single-service-area text-center wow fadeInUp" data-wow-delay="0.5s">
                        <i class="ti-ruler-pencil"></i>
                    </div>
                </div>
                <!-- Single Service -->
                <div class="col-12 col-md-4">
                    <div class="single-service-area text-center wow fadeInUp" data-wow-delay="1s">
                        <i class="ti-desktop"></i>
                    </div>
                </div>
                <!-- Single Service -->
                <div class="col-12 col-md-4">
                    <div class="single-service-area text-center wow fadeInUp" data-wow-delay="1.5s">
                        <i class="ti-announcement"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('base/footer') %>
    <%- include('base/footer-asset') %>
</body>

</html>